* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    background:url('img/stage-cover.jpg') no-repeat center center/cover;

}
#board {
    display: grid;
    width: 60%;
    height: 50%;
    grid-template-columns: 4fr 2fr;
    grid-gap: 5px;
    outline: 1px solid black;
    margin: 30px auto;
    background:white;
    padding:30px;
}

#gameBoard {
    height: 80%;
    padding: 10px 35px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

}

.square {
    width: 50px;
    height: 50px;
    outline: 1px solid #3a3939ad;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:transparent;
}

#playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.player{
    margin:10px 0;
    height:100%;
    padding:10px 0;
}
#player-one-name,#player-two-name{
    text-transform:capitalize;
}
.player-avatar{
    width:35%;
    display:block;
    margin:0 auto;
}

/* GAME CHARACTERS AND WEAPONS */
.sonya,.lui-keng, .grenade,.sniper,.sword,.bow,.figure{
    width:40px;
    height:40px;
    outline:none;
}

.highlight-path{
    background:rgb(85, 179, 85);
}
.figure{
    background:url('img/brick.png') no-repeat center center/contain;
}
.sonya {
    background:url('img/Sonya.jpg') no-repeat center center/contain !important; 
}
.lui-keng {  
    background:url('img/Liu_Kang_mk11.png') no-repeat center center/contain !important;
}
.grenade { 
    background: url('img/grenade.png') no-repeat center center/cover;
}
.sniper{
    background: url('img/sniper.png') no-repeat center center/cover;
}
.sword{
    background:url('img/sword.png') no-repeat center center/cover;
}
.bow{
    background:url('img/bow.png') no-repeat center center/cover;
}



CSS


.weapon {
    /* width: 90%; */
    /* height: 45%;
    padding: 10px; */
    /* background:pink; */
}

/* Battle Modal */
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  .modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
  }
  
  /* Players Position During Battle */

  .fight-position{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      padding:0 40px;
  }
  .player-poster{
      width:20%;
  }