* {
    box-sizing: border-box;

}

#board {
    display: grid;
    width: 70%;
    height: 90vh;
    grid-template-columns: 4fr 2fr;
    grid-gap: 5px;
    outline: 1px solid black;
    margin: 100px auto;
}

#gameBoard {
    height: 80vh;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

}

.square {
    width: 60px;
    height: 60px;
    outline: 1px solid #3a3939ad;
    position:relative;
}

.figure {
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, rgb(142, 170, 194) 10%, rgb(136, 136, 136) 90%);
    padding: 10px;
    clip-path: polygon(0% 5px, 5px 0%, calc(100% - 5px) 0%, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0% calc(100% - 5px));
}

#playerInfo {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.blue{
    background:blue;
}
.player1 {
    /* width: 90%; */
    background: black;
}
.player2 {
    /* width: 90%; */
    background:purple;
}
.weapon1 {
    /* width: 90%; */
    /* height: 45%;
    padding: 10px; */
    background: green;
}
.weapon2{
    background: red;
}
.weapon3{
    background:blue;
}
.weapon4{
    background:yellow;
}
